<div class="bar bar-subheader bar-doitsub">
	Getting Started With Do-it
</div>
<ion-view view-title="Do-it" ng-init="getArticles()">
  <ion-content class="padding">
		<div class="list card" ng-click="getStarted()">
			<div class="item item-body doit-bg8">
				<p class="item-desc">
					Welcome to the home of UK volunteering!
    		</p>
				<img class="full-image" src="img/team-bg.jpg">
			</div>
		</div>
    <p class="doit-text">You've taken the first step to do something good in your community.  On Do-it you'll find tons of things to do from our <a href="https://do-it.org/#/opportunities/search"><strong>million plus volunteering opportunities</strong></a>, and you can get some inspiration from our <a href="https://do-it.org/news"><strong>news and campaigns</strong></a> about people and organisations doing amazing things. </p>
    <p class="doit-text">If this is your first time here then you'll need to Sign Up before you can register an interest in an opportunity.  Sign up only takes a few minutes you just need an email address to get started or you can use your Facebook account.</p>
    <p class="doit-text">Once signed up, using your dashboard, you can save your favourite opportunities and track those you apply for, plus if you tell us your preferences we'll suggest new opportunities as they come in. </p>
    <p class="doit-text">The more information you supply the more likely you are to be matched by charities and voluntary groups  looking for volunteers.  Your information is only used by Do-it recruiters and is never shared with third parties without your permission. </p>
    <p class="doit-text">Once you start volunteering you can log your hours to create your own Volunteering CV which you can share with recruiters.  Your Volunteering CV can show how much time you've given which can be verified by the organisation you helped - a great way to impress your boss or to help you get a new job!      </p>
    <p class="doit-text" style="font-style: italic;">If you had an account on the old Do-it site (before 22 January 2015) <u>you won’t be able to Sign-In with your existing account</u> and will have to Sign-Up  first.  But if you sign up with the email address you used on the old site we'll be able to bring your account information to your new Do-it profile.</i></p>
    <p class="doit-text" style="font-style: italic;"><i>Don’t worry if you no longer have access to the email you were using when you created the account, or if you just want to start from scratch, feel free to create a brand new account!</i></p>
    <hr>
    <p class="doit-text">If you're still unsure if volunteering is right for you, you might find it helpful to ask yourself the following:</p>
    <h4><b>Why am I doing this?</b></h4>
    <p class="doit-text">You probably already know that volunteering is a fantastic way to support community causes, whilst also expanding your own skills and experiences.  Did you know that over 80% of prospective employers like applicants to have some voluntary work on their CV?  </p>
    <h4><b>What’s in it for me?</b></h4>
    <p class="doit-text">As well as the warm fuzzy feeling that comes from doing something good, you’ll also benefit from experiencing new things, get new skills for your CV, plus the opportunity to meet new people - basically the list is endless.  </p>
    <h4><b>What do I want to do?</b></h4>
    <p class="doit-text">There are thousands of things you can volunteer for so think about your interests, what cause or issue you want to support, how much time you can give and what you hope to gain from the experience. </p>
    <p><b></b></p><h4><b>Ready?</b></h4><p></p>
    <p class="doit-text">Then <a href="https://do-it.org/#/opportunities/search"><strong>get searching</strong></a> or sign up and we’ll send you new stuff as it comes in.</p>
    <h4><b>Do-it Yourself</b></h4>
    <p class="doit-text">If you haven’t found your ideal role why not <a href="https://do-it.org/#/opportunities/landing"><strong>set up a project yourself?</strong></a>  Whether it’s a local football club, a social hackathon or a local befriending project, <strong>we can help.</strong></p>
    <p class="doit-text">If you want to do something good and need people to help, you can advertise your project here on Do-it. </p>
    <h4><b>Do More - Choose a Career For Good</b></h4>
    <p class="doit-text">Here on Do-it you can put the skills you gain through volunteering to good use and <a href="https://do-it.org/#/jobs"><strong>find a job</strong></a> that lets you do good as a career.  We advertise jobs from charities, social enterprise and any other company or organisation that is looking to make the world a better place, with more being added every day.</p>
  </ion-content>
</ion-view>
