<ion-view view-title="Feedback">
  <ion-content class="padding">
    <div class="list list-inset">
    	<label class="item item-input">
		    <input type="text" placeholder="Your Email">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Subject">
		  </label>
		  <label class="item item-input">
		    <textarea placeholder="Comments" style="min-height:100px;"></textarea>
		  </label>	  
			<button class="button button-block button-doit">
	      Submit
	    </button>
		</div>
  </ion-content>
</ion-view>