<div class="bar bar-subheader-large bar-doitsub team-bg">
	About Do-it
</div>

<ion-view view-title="Info">
  <ion-content class="padding has-subheader-large">
		<h4>About Do-it mobile app</h4>
		<p class="doit-text-new">Do-it app makes it easy for anyone to volunteer in their community, by enabling them to post, search, apply and deliver volunteering work. Having a Volunteer CV functionality means that volunteers can record their activities, helping to build a profile, which can be used to supplement career aspirations. The app also makes it simple and affordable for charities and community group to recruit staff and for volunteers to turn their voluntary work into paid work. Do-it mobile app, has been developed as part of the EU project - CROSS (<a ng-href="http://www.crossproject.eu/en/">http://www.crossproject.eu/en/</a>) by Sparta Digital, an integrated IT consultancy dedicated to social causes and developments.</p>

		<p>&nbsp;</p>

		<h4>About Do-it website</h4>
		<p class="doit-text-new">Do-it is the UK's national volunteering database. We list volunteering opportunities from thousands of charities and social action groups throughout the UK, from the largest household names through to small informal groups who've come together because they want to change something in their local area.</p>

		<p>&nbsp;</p>

<!-- 		<h4>About Volunteer Centres</h4>
		<p class="doit-text-new">Volunteer centers are the local agencies that promote and develope volunteering. Many of the opportunities on Do-it come from Volunteer Centers. If you can't find suitable opportunity on Do-it, your local Volunteer Centre might be able to help. You can find your nearest Volunteer Centre by searching on Do-it.</p> -->

		<div class="card">
			<div class="row">
				<div class="col doit-bg10">Follow Us On</div>
			</div>
			<div class="row">
				<div class="col"><span> <a class="icon ion-social-facebook doit-red button-icon" ng-href="https://www.facebook.com/DoItUK"></a> <a class="icon ion-social-tumblr doit-red button-icon" ng-href="https://twitter.com/doituk"></a> <a class="icon ion-social-youtube doit-red button-icon" ng-href="https://www.youtube.com/channel/UCSgAwnwPyzAFC5hvICTE1Bw"></a> <a class="icon ion-social-instagram-outline doit-red button-icon" ng-href="http://instagram.com/doitvolunteering"></a></span></div>
			</div>
		</div>
  </ion-content>
	<!--ion-footer-bar align-title="left" class="doit-bg8">
		<div class="row">
			<div class="col col-33"><h4>Follow Us On</h4></div>
			<div class="col col-50"><span> <a class="icon ion-social-facebook doit-red button-icon" href="https://www.facebook.com/DoItUK"></a> <a class="icon ion-social-tumblr doit-red button-icon" ng-href="https://twitter.com/doituk"></a> <a class="icon ion-social-youtube doit-red button-icon" ng-href="https://www.youtube.com/channel/UCSgAwnwPyzAFC5hvICTE1Bw"></a> <a class="icon ion-social-instagram-outline doit-red button-icon" ng-href="http://instagram.com/doitvolunteering"></a></span></div>
		</div>
	</ion-footer-bar-->
</ion-view>
