<!-- <!-- <!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
<!--     <div class="container">
      <h2>Log-out Glyph</h2>
      <p>Log-out icon: <span class="glyphicon glyphicon-log-out"></span></p>    
      <p>Log-out icon as a link:
        <a href="#">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </p>
      <p>Log-out icon on a button:
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </button>
      </p>
      <p>Log-out icon on a styled link button:
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </p> 
    </div> -->
  </body>
</html>
 -->



<!-- <ion-modal-view view-title="Logout">
  <ion-header-bar class="
Content-Type:application/json
X-Auth-Token:eyJhbGciOiJIUzI1NiJ9.eyJpZCI6IjBkNWU3MGFlLWY5Y2ItNGQyNy1iMmEzLWZiOTA1MmJjNzYwMyJ9.dmoYu88YE8W9QOmaQC-jxlNM8fjn0AZY0Hud-X-2-xQ">
    <h1 class="title">Logout</h1>
<!--     <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Cancel</button>
    </div> -->
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogout()">
<!--       <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive button-doit" type="submit">Signin</button>
        </label>
      </div> -->
    </form>
  </ion-content>
</ion-modal-view>
 --> -->