<ion-modal-view>
  <ion-header-bar class="bar-dark bar-doit">
    <h1 class="title">Within</h1>
    <button class="button button-clear" ng-click="hideDistanceChooser()">Done</button>
  </ion-header-bar>
  <ion-content>
    <ul class="list">
			<li class="item item-checkbox"><label class="checkbox checkbox-assertive"><input type="checkbox" ng-model="distance.value" ng-true-value="'3'"></label> 3 miles</li>
      <li class="item item-checkbox"><label class="checkbox checkbox-assertive"><input type="checkbox" ng-model="distance.value" ng-true-value="'5'"></label> 5 miles</li>
      <li class="item item-checkbox"><label class="checkbox checkbox-assertive"><input type="checkbox" ng-model="distance.value" ng-true-value="'10'"></label> 10 miles</li>
      <li class="item item-checkbox"><label class="checkbox checkbox-assertive"><input type="checkbox" ng-model="distance.value" ng-true-value="'20'"></label> 20 miles</li>
      <li class="item item-checkbox"><label class="checkbox checkbox-assertive"><input type="checkbox" ng-model="distance.value" ng-true-value="'50'"></label> 50 miles</li>
		</ul>
  </ion-content>
</ion-modal-view>
