<ion-view view-title="News"  ng-init="getArticle()">
  <ion-content>
    <!--div class="item item-image padding">
      <h2 class="item-title">{{article.headline}}</h2>
      <img class="full-image" src="{{article.hero[1].absolute_url}}">
    </div-->
    <div class="item item-body">
      <h2 class="item-title" style="font-weight: 600; font-size: 20px;">{{article.headline}}</h2>
      <img class="full-image" src="{{article.hero[2].absolute_url}}">
      <p class="item-desc">
        {{article.description}}
      </p>
      <hr/>
      <div class="item-content" ng-bind-html="article.html"></div>
    </div>
  </ion-content>
</ion-view>
